/*!
 *  Custom Taigi Fonts
 */
 @font-face {
	font-family: "Iansui";
	src: url("./ji7kut/Iansui0.92-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
	font-family: "Huninn";
	src: url("./ji7kut/jf-openhuninn-1.1.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}